section.filters {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

section.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin: 11px 30px;
	float: right;
}

section.filters button:hover {
	opacity: 0.9;
}

.locations {
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
	float: left;
}

.amenities {
	height: 100%;
	width: 25%;
	float: left;
}

.filters h3 {
	font-weight: 600;
	font-size: 18px;
	margin-left: 50px;
	margin-top: 17px;
	margin-bottom: 0;
}

.filters h4 {
	font-weight: 400;
	font-size: 14px;
	margin-left: 50px;
	margin-top: 0;
	margin-bottom: 0;
}
